#canvas-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  #canvas {
    width: 100%;
    height: 600px;
  }
  
  .tool-container {
    display: flex;
    max-width: 800px;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .tool-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #clear-button {
    background: linear-gradient(to bottom right, #56ab2f, #a8e063);
  }
  
  .tool-button:hover {
    opacity: 0.8;
  }
  
  #clear-button:hover {
    background: linear-gradient(to bottom right, #a8e063, #56ab2f);
  }
  
  .color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .color-button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .color-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .color-button.active {
    border: 3px solid white;
  }
  
  .indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .color-button:hover .indicator {
    opacity: 0.5;
  }
  
  .color-button.active .indicator {
    opacity: 1;
  }
  .color-button.black {
    background-color: #000;
  }
  .color-button.red {
    background-color: #f44336;
  }
  
  .color-button.blue {
    background-color: #2196f3;
  }
  
  .color-button.green {
    background-color: #4caf50;
  }
  
  .color-button.yellow {
    background-color: #ffeb3b;
  }
  
  .color-button.orange {
    background-color: #ff9800;
  }
  
  .color-button.purple {
    background-color: #9c27b0;
  }
  
  .color-button.gray {
    background-color: #9e9e9e;
  }
  