/* 設定圖片容器的樣式 */
#img-container {
    position: relative;
    width: 640px;
    height: 426px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
}

/* 設定圖片的樣式 */
#img-container img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 設定放大鏡的樣式 */
#magnifier {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    border-radius: 50%;
    background-size: 1280px 852px;
    background-position: -640px -426px ;
    background-repeat: no-repeat;
    pointer-events: none;
    cursor: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}